<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TradesURL" value="http://pubapi.cryptsy.com/api.php?method=singlemarketdata&amp;marketid={0}"/>
        <add key="DepthURL" value="http://pubapi.cryptsy.com/api.php?method=singleorderdata&amp;marketid={0}"/>
    </appSettings>
</configuration>