<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptocoinTicker.BTCePlugins.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="BTCeTradesUrl" value="https://btc-e.com/api/2/{0}/trades"/>
        <add key="BTCeDepthUrl" value="https://btc-e.com/api/2/{0}/depth"/>
    </appSettings>
    <userSettings>
        <CryptocoinTicker.BTCePlugins.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiSecret" serializeAs="String">
                <value />
            </setting>
        </CryptocoinTicker.BTCePlugins.Settings>
    </userSettings>
</configuration>